@import "tailwindcss";
@plugin "daisyui";
@theme {
  --color-rabbit: #ea2e0e;
  /* --color-rabbit: #ebebeb; */
}

#root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
